doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/icons.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='/javascripts/other/activatePage.js')
    block pre-scripts
    link(rel="apple-touch-icon", sizes="180x180", href="images/apple-touch-icon.png")
    link(rel="icon", type="image/png" sizes="32x32", href="images/favicon-32x32.png")
    link(rel="icon", type="image/png" sizes="16x16", href="images/favicon-16x16.png")
    link(rel="manifest", href="images/site.webmanifest")
    link(rel="mask-icon", href="images/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title= title

  body
    .loading-spinner.spinner-border
    nav.navbar.navbar-expand-md.navbar-light.navigation-menu
      .container
        a.navbar-brand#main-title(href='/') COVID-19 Data
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.option(href="/map") Map
            li.nav-item
              a.option(href="/table") Table
          block options

    .background
      block content

  script(src='/javascripts/jquery-3.3.1.slim.min.js')
  script(src='/javascripts/popper.min.js')
  script(src='/javascripts/bootstrap.min.js')
  block post-scripts
