body {
    padding: 0;
    color: #e60000;
    background-color: #251616;
}

.loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    width: 5em;
    height: 5em;
}

.background {
    pointer-events: none;
    filter: blur(0.1em);
}

a:hover {
    text-decoration: none;
    color: #251616;
}

table.dropDown {
    color: inherit;
}

#main {
    padding: 0;
    margin-top: 3.5em;
}

#main-title:hover {
    color: white;
}

.navigation-menu {
    background-color: #e60000;
}

button.dropButton {
    border-radius: 0;
    padding: 1em;
    background-color: inherit;
    color: inherit;
}

.dropButton:hover .arrow {
    border-color: #fff;
}

.dropButton:focus .arrow {
    border-color: #fff;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

svg {
    overflow: scroll;
}

.graph {
    width: 35em;
    height: 35em;
}

circle {
    fill: white;
    opacity: 0.3;
}

.title {
    fill: white;
}

.option {
    padding-top: 2em;
    padding-right: 1em;
    color: white;
}

.sphere {
    fill: #4242e4;
}

.country {
    stroke: black;
    stroke-width: 0.05px;
}

.country:hover {
    fill: green;
}

.label {
    pointer-events: none;
}

.global-label {
    padding: 0.5em 0;
    text-align: center;
}

.map-container {
    background-color: #2e2e2e;
}

.axis-label {
    font-size: 1.25em;
}

#timeline-slider:hover {
    fill: white;
    stroke: white;
}

.options-button {
    color: #e60000;
    border-width: 0;
    border-radius: 0.25em;
    background-color: black;
    margin-left: 0.5em;
    font-weight: bold;
}

.options-button:hover {
    color: #e60000;
    background-color: white;
}
